.pane__side {
  width: 17%;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  margin-top: 30px;
  margin-left: 15px;
}
.pane__title img{
  width: 150px;
  height: 90px;
  margin-top: -20px;
}

.pane__body {
  border: 1px solid red;
  padding: 5px;
  width: 100%;
  height: 60vh;
  position: relative;
  margin-top: 10px;
}

.pane__body ul li {
list-style: none;
}



.svg__icon {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 0px;
  color: blue;
}
