@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  background-color: #fff;
  padding: 2px;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 99vh;
}

.welcome {
  padding: 5px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__image img {
  width: 400px;
  height: 250px;
  margin-top: -40px;
  margin: 10px auto;
}
.welcome__text {
  font-family: ;
  font-size: 40px;
}

.welcome__button {
  width: 140px;
  text-transform: uppercase;
  padding: 3px;
  margin-top: 20px;
  background-color: rgb(119, 119, 248);
  color: #fff;
  border: none;
  box-shadow: 0 1px 6px -10px rgb(94, 94, 94);
  outline: none;
}

.pagination {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 50px;
  display: block;
}
.pages {
  padding: 3px;
  width: 30px;

  margin: 0;
  color: black;
  background-color: blanchedalmond;
  border: 1px solid rgb(114, 114, 236);
  display: flex;
  justify-content: center;
}
